<div class="post-ctn">
    <div>
        <a href="{{ project.url | prepend: site.baseurl }}" class="img-ctn post-image">
            <div class="img-wrap">
                <img src="{{ project.post-image }}" alt="project image">
            </div>
        </a>
    </div>
    <ul class="post-list">
        <time>{{ project.date | date: "%b %-d, %Y" }}</time>
        <h3><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h3>
        <p>{{ project.excerpt | strip_html | truncatewords:10 }}</p>
        <i class="fas fa-comment-alt comment-count"></i>
        <a href="{{ project.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ project.id }}" class="comment-count">0 Comments</a>
    </ul>
</div>
