$heading-font: 'Open Sans', sans-serif;
$body-font: $heading-font;
$content-width: 1000px;
$image-size: 120px;
$article-margin: 15px;
$general-spacing: 20px;
$page-padding: $general-spacing;
$highlight: limegreen;
$body-font-color: black;
$heading-font-color: steelblue;
$dark-color: rgb(45, 45, 45);		// terminal color
$page-color: rgb(240, 240, 240);
$link-color: $heading-font-color;

// Makes box sizing exact
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}