body {
	background-color: $bg-color;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main-color;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main-color;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: dimgray;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-image {
	height: 150px;
	border-radius: 16px;
}

.contact {
	color: black;
	a {
		color: black;
	}
}

/* Aside */

aside {
	position: absolute;
	top: 0;
	left: 0;
	background: $nav-bg-color;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: right;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					color: $nav-font-color;
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main-color;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}

#home-title {
	float: left;
	a {
		color: $nav-font-color;
		text-decoration: none;
		display: block;
		padding: 15px;
		font-family: 'Muli', sans-serif;
		line-height: 20px;
		margin-bottom: -1px;
		box-shadow: 0;
		&:hover,
		&:active {
			background: $header;
			text-decoration: none;
			color: $main-color;
		}
	}
}

// DropDown Menu
.dropbtn {
    background-color: $header;
    color: $main-color;
    text-decoration: none;
	display: block;
	padding: 15px;
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: -1px;
	box-shadow: 0;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: $bg-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $font-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: $header;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: $main-color; color: $header;}


@media screen and (max-width: 600px) {
	nav > ul > .resNav {
		display: none;
	}
	nav > ul > #resMenu {
		display: initial;
	}
}

@media screen and (min-width: 600px) {
	nav > ul > .resNav {
		display: initial;
	}
	nav > ul > #resMenu {
		display: none;
	}
}